.top-container {
  height: 100vh;
  flex: 1;
}
.top-container button {
  justify-content: center;
  font-size: large;
  background-color: #5581d354;
}
.top-container input {
  border: 2px dotted #e8eca3;
  caret-color: rgb(26, 214, 214);
}
.top-container input:focus {
  border-color: rgba(172, 107, 192, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 8px hsla(310, 33%, 42%, 0.6);
  outline: 0 none;
}
.top-container label {
  font-size: 20px;
  margin-left: 0;
  padding-left: 0;
  caret-color: transparent;
  color: white;
}
.top-container h1 {
  font-family: "Caveat", cursive !important;
  font-size: 40px;
  color: white;
  caret-color: transparent;
}
.top-container h4 {
  margin-top: 20px !important;
  font-family: "Caveat", cursive !important;
  font-size: 30px;
  color: white;
  caret-color: transparent;
}
.top-container h1 {
  border-bottom: 3px dotted;
  transition: ease-in-out;
  animation: both;
  animation-duration: 2s;
}
.top-container textarea {
  border: 2px dotted #e8eca3;
  caret-color: coral;
  border-color: rgba(172, 107, 192, 0.8) !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 8px hsla(310, 33%, 42%, 0.6);
  outline: 0 none;
}

.formsuccess {
  font-family: "Caveat", cursive !important;
  font-size: 40px;
  color: #0f743b !important;
  caret-color: transparent;
}
.svg-photo {
  width: 100px !important;
  height: 100px !important;
}
@media only screen and (max-width: 912px) and (min-width: 768px) {
  .top-container {
    height: 80vh !important;
  }
}
@media only screen and (max-width: 375px),
  only screen and (max-device-width: 375px) {
  .top-container {
    height: 100vh !important;
  }
}

@media only screen and (max-width: 520px) and (min-width: 375px) {
  .formsuccess {
    font-size: 25px !important;
  }
}
