.copyright {
  cursor: pointer;
  font-family: "Caveat", cursive;
  font-size: 30px;
  caret-color: transparent;
  border-bottom: none !important;
}
@media only screen and (max-width: 375px) and (min-width: 0px) {
  footer {
    height: auto !important;
  }
}
.copyright2 {
  display: inline !important ;
}
